.group-2,
.group-2 * {
  box-sizing: border-box;
}

.group-2 {
  width: 2013px; /* fixo */
  height: 1151px; /* fixo */
  position: relative;
}

.image-2 {
  width: 2013px; /* fixo */
  height: 1151px; /* fixo */
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.frame-3 {
  width: 1211px;
  height: 213px;
  position: absolute;
  left: 578px;
  top: 139px;
  overflow: hidden;
}

.certificado-texto {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 1211px;
  height: 213px;
  text-align: justify;
}

.certificado-texto .span1 {
  color: #790007;
  font-family: "Numans-Regular", sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
}

.certificado-texto .span2 {
  color: #790007;
  font-family: "Numans-Regular", sans-serif;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
}

.certificado-texto .span3 {
  color: #000000;
  font-family: "Numans-Regular", sans-serif;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
}
