.group-1,
.group-1 * {
  box-sizing: border-box;
}

.group-1 {
  width: 2000px;
  height: 1125px;
  position: relative;
}

.image-1 {
  width: 2000px;
  height: 1125px;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.frame-1 {
  width: 1327px;
  height: 481px;
  position: absolute;
  right: 108px;
  top: 294px;
  overflow: hidden;
}

.certificamos-que-o-sr-a-nome-cpf-cpf-participou-do-treinamento-comiss-o-interna-de-preven-o-acidentes-cipa-em-conformidade-da-norma-regulamentadora-nr-05-i-e-a-lei-federal-14-457-22-promovido-pela-empresa-12-tec-engenharia-ltda-com-carga-hor-ria-de-08-horas-aracaju-se-data {
  color: #000000;
  text-align: justify;
  font-family: "Numans-Regular", sans-serif;
  font-size: 28px;
  line-height: 68px;
  font-weight: 400;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 1327px;
  height: 481px;
}

.frame-2 {
  position: absolute;
  left: 1452px;
  top: 950px;
  width: 1376px;
  height: 132px;
  overflow: hidden;
}

.group-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cargo-nome {
  position: absolute;
  inset: 0; /* ocupa toda a frame-2 */
  text-align: center; /* ou justify se quiser */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cargo-nome-span {
  color: #000000;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 25px;
  line-height: 33px;
  font-weight: 400;
}

.cargo-nome-span2 {
  color: #790007;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
}